#!/usr/bin/env sh

# Watch & reload direnv on change
watch_file devshell.toml

use flake

export PULUMI_SKIP_UPDATE_CHECK=true
export PULUMI_CONFIG_PASSPHRASE=""
export LIBVIRT_DEFAULT_URI="qemu:///system"
export PATH=$PATH:$(pwd)/bin:$(pwd)/contrib:$(pwd)/helmfiles/bin:$(pwd)/../open-webui-cli/result/bin

[ -e local.env ] && . local.env
